<p>
  Before start doing anything to learn java you need to do one very important thing.
  And it's not to answer why you chose java - most of the time people do not know for sure.
  My approach is about choosing an application for your new skills. You need a thing to do with your new knowledge.
  To build website. Or API or some routine script, whatever. You can parse sluts catalog sites to build your own database
  with phones and photos. Nobody cares of it but you.
</p>
<p>
  Why I think it's so important? Because you journey is long, more then 2-3 days. You need motivation and inspiration
  not to give up to early.
</p>
